<!-- templates/index.html -->
{% extends "layout.html" %}
{% block title %}UWI Map{% endblock %}

{% block head_links %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<!-- Custom Styles -->
<link href="{{ url_for('static', filename='styles/filter.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/map.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="map-container">
    <div id="map"></div>

    <!-- Floating Filter Panel -->
    <div class="floating-panel filter-box z-depth-3">
      <div class="filter-header">
          <label for="campus-select"><strong>Campus</strong></label>
          <select id="campus-select" class="browser-default" onchange="redirectToCampus(this)">
            {% for campus in campuses %}
              <option value="{{campus.id}}" {% if selected_campus.id == campus.id %}selected{% endif %}>{{campus.name}}</option>
            {% endfor %}
          </select>
      </div>

      <div class="filter-body">
        <form method="GET" action="">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <h6>Filter</h6>
            <button type="submit" class="apply-button">Apply</button>
          </div>
          
          <hr class="filter-divider" />
          
          {% for category in categories %}
            <p><label>
              <input type="checkbox" name="category" value="{{ category.id }}"
                {% if category.id|string in request.args.getlist('category') %}checked{% endif %} />
              <span style="color: {{ category.color }}">
                {{ category.name.capitalize() }}
              </span>
            </label></p>
          {% endfor %}
        </form>
      </div>
    </div>

    <!-- Marker Details -->
    <div id="marker-info-panel" class="marker-panel z-depth-3">
        <button id="close-panel">&times;</button>
        <div id="marker-info-content">
          <img id="marker-image" src="" alt="Marker image">
          <div class="marker-details">
            <h5 id="marker-name">Marker Name</h5>
            <p id="marker-description">Description goes here.</p>
            <p><strong>Coordinates:</strong> <span id="marker-coordinates">00.00000, 00.00000</span></p>
            <p><strong>Category:</strong> <span id="marker-category">General</span></p>
          </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Inline config -->
<script> 
    // Redirect to campus page when a new campus is selected 
    function redirectToCampus(select) {
        const campusId = select.value;
        window.location.href = `/${campusId}`;
    }

    // Sending data to the map.js file
    const selectedCampus = {
        sw: [{{ selected_campus.sw_lat }}, {{ selected_campus.sw_lng }}],
        ne: [{{ selected_campus.ne_lat }}, {{ selected_campus.ne_lng }}]
    };

    const markers = {{ markers | tojson | safe }};

</script>

<!-- Map Script -->
<script src="{{ url_for('static', filename='scripts/map.js') }}"></script>
{% endblock %}